<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFINITY COMEDY</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="barra2">
        <h1>INFINITY CINEMA</h1>
        <br>
        <div class="contenedor">
            <a href="Anime.html">Anime</a>
            <a href="Comedy.html">Comedy</a>
            <a href="Thriller.html">Thriller</a>
            <a href="index.html" class="btn-volver">
                <img src="../Media/volver.png" alt="Volver">

            </a>
        </div>
    </nav>
    <br><br><br><br>

    <main class="movie-container">


        <div class="movie">
            <img src="../Media/MiPobreAngelito.webp" alt="Comedy1" class="cover">
            <div class="details">
                <h2>Mi pobre angelito</h2>
                <p><strong>Género:</strong> Comedy, Holiday Comedy, Holiday Family</p>
                <p><strong>Año:</strong> 1990</p>
                <p><strong>Sinopsis:</strong> Un travieso niño de ocho años debe proteger su casa de unos ladrones cuando es accidentalmente olvidado en casa por su familia cuando se van de vacaciones de Navidad.</p>
                <p><strong>Duración:</strong> 1h 43min</p>

            </div>
            <br>
            <iframe src="https://www.youtube.com/embed/4nXRb-1-n60" title="Solo en Casa (Trailer español)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>


        <div class="movie">
            <img src="../Media/soncomoniños.jpg" alt="Comedy2" class="cover">
            <div class="details">
                <h2>Son como niños 2</h2>
                <p><strong>Género:</strong> Comedy</p>
                <p><strong>Año:</strong> 2010</p>
                <p><strong>Sinopsis:</strong> Después de la muerte de su entrenador de baloncesto de la escuela secundaria, cinco buenos amigos y ex compañeros de equipo se reúnen para un fin de semana de vacaciones del 4 de julio.       </p>
                <p><strong>Duración:</strong> 1h 41min</p>

            </div>
            <br>
            <iframe src="https://www.youtube.com/embed/EJlI-peYPVs" title="Son Como Niños 2 - Tráiler #1 doblado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>



        <div class="movie">
            <img src="../Media/entrenando a papa.jpg" alt="Comedy3" class="cover">
            <div class="details">
                <h2>Entrenando a papá</h2>
                <p><strong>Género:</strong> Comedy, Children</p>
                <p><strong>Año:</strong> 2007</p>
                <p><strong>Sinopsis:</strong> La estrella de fútbol Joe Kingman parece tenerlo todo. Él es rico, cuidadoso y su equipo está por obtener el campeonato. Repentinamente, Joe recibe una noticia inesperada: tiene una hija, fruto de su último encuentro íntimo con su exesposa.</p>
                <p><strong>Duración:</strong> 1h 50min</p>

            </div>
            <br>
            <iframe src="https://www.youtube.com/embed/yMCcnIJ5rdQ" title="Papa Por Sorpresa (Trailer español)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>


    </main>

</body>

</html>